<div id="about-page">

    <div class="quote">
        We are full service art consulting firm working with designers, architects and corporate clients to create dynamic customized spaces.
    </div>

    <div class="row">

        <div class="small-6 columns text">
            <p>
                <strong>artstudio 101</strong> is locally owned and operated in Phoenix, Arizona. We have been satisfying art consulting needs both locally and nationally since 2000.
            </p>
            <p>
                Our philosophy is to “simplify” the process and serve as the single point of contact for all artwork requirements. We offer the highest quality of service; original concepts and design; project management; custom framing; and on-site installation.
            </p>
            <p>
                Our commitment is to ensure that the artwork perfectly fulfills each client’s vision for the space; is installed on time and on budget; and is characteristic of the client’s program.
            </p>
            <p>
                <strong>artstudio 101</strong> proudly sponsors sustainability and actively participates in meaningful efforts including Go Green, HALO Animal Rescue, and Habitat for Humanity.
            </p>
        </div>

        <div class="small-6 columns image">
            <img src="img/about.png" alt="" />
        </div>

    </div>

</div>
