<div id="article-page">

    <div class="quote">
        artblog 101
    </div>



    <div class="row">

        <div class="small-10 columns text">
          <div id="article-title" class="article-title"></div>
          <span class="publish-label">publish on:</span>
          <span id="article-date" class="blog-date"></span>
          <br /><br /><br />
          <div id="article-content" class="article-content"></div>
          <!-- <div id="blog-replies" class="blog-replies"></div> -->
        </div>

        <div class="small-2 columns text">
          <div id="previous-posts" class="previous-posts">
            <span>previous posts:</span>
          </div>
        </div>

    </div>

</div>

<script src="js/blog-article.js"></script>
