<div id="blog-page">

  <div class="quote">
    artblog 101
    <div class="pagination quote__pagination">
      <div class="pagination__btn next disabled">
        next
      </div>
      <div> | </div>
      <div class="pagination__btn previous">
        previous
      </div>
    </div>
  </div>

  <div id="blog-list" class="row">
    <!-- blogs posts -->
    <div class="spinner">
      <i class="fas fa-circle-notch fa-3x fa-spin"></i>
    </div>
  </div>
  
  <div class="quote hidden">
    artblog 101
    <div class="pagination quote__pagination">
      <div class="pagination__btn next disabled">
        next
      </div>
      <div> | </div>
      <div class="pagination__btn previous">
        previous
      </div>
    </div>
  </div>

</div>

<script src="js/blog-list.js"></script>
