<div id="clients-page">

    <div class="quote">
      We understand the impact of the art as it is viewed in relation to the client’s image and the overall interior aesthetic.
    </div>

    <div class="text">
      <p>
        <strong>artstudio 101</strong> demonstrates strength in client education and identification of objectives when procuring a personalized art program. We believe that an art program should always reflect the client’s vision for the project. Our diverse client population ranges in size and includes healthcare providers, key financial service agencies, premiere commercial developers, high-tech companies, hotels, restaurants, and residential property owners.
      </p>
    </div>

    <div class="slide-show-container">
      <div class="slide-show">
        <img class="slide-image" src="./img/slide-show/clients/client-image-01.png">
        <img class="slide-image" src="./img/slide-show/clients/client-image-02.png">
      </div>
      <div class="over-lay"></div>
    </div>

    <script>
      $(document).ready(function(){
        $('.slide-show').slick({
          slidesToShow: 1,
          slidesToScroll: 1,
          autoplay: true,
          autoplaySpeed: 4000,
        });
      });
    </script>



    <!-- <img class="word-count" src="./img/word-cloud.png" width="700"/> -->
    <div class="client-list">
      Client list available on request.
    </div>
    <!--
    <div class="row list">
        <div class="small-3 columns">
            <h4>Corporate</h4>
            <hr>
            Ak-Chin Entertainment Center<br />
            American Express<br />
            ASU Foundation<br />
            Arizona State University<br />
            Arizona Governor’s Office<br />
            Benchmark Financial, Ltd<br />
            Berry & Damore<br />
            Blue Cross Blue Shield<br />
            Burns & Wilcox Ltd.<br />
            Caldwell & Ober<br />
            CoStar Realty<br />
            DHL Worldwide Express<br />
            Engelman & Berger<br />
            Evergreen Devco, Inc.<br />
            Fox Concepts<br />
            Go Daddy<br />
            High Tech Institute<br />
            Harris Trust Bank<br />
            iPic<br />
            Johnson Bank<br />
            M.D. Restaurants<br />
            Mattson Navigation<br />
            Papago Buttes Corporate LLX<br />
            Red Door Spas<br />
            Phoenix Esplanade<br />
            Plaza Companies<br />
            Pulte Corporate<br />
            Pyramid Hotels Group<br />
            Renewal Technologies<br />
            Salt River Materials Group<br />
            Serta Corporate<br />
            Sonoran Spine<br />
            Spirit Realty<br />
            Starwood<br />
            Sunbelt Holdings<br />
            Tempe Improv<br />
            Tru West Credit Union<br />
            Western Bank<br />
        </div>
        <div class="small-3 columns">
            <h4>Hospitality</h4>
            <hr>
            Enchantment Resort<br />
            Hyatt Classic Residence<br />
            Indian Wells Resort, Palm Springs<br />
            Red Mountain Spa<br />
            Sanctuary<br />
            Sheraton SLAX<br />
            The Mark, Scottsdale AZ<br />
            The Village Health Clubs<br />
            Whisper Rock Clubhouse<br />
        </div>
        <div class="small-3 columns">
            <h4>Healthcare</h4>
            <hr>
            Banner Health<br />
            Banner MD Anderson Cancer Center<br />
            Beatitudes Campus<br />
            Banner Health Clinics<br />
            Cigna Healthcare<br />
            Desert Pain Institute<br />
            Dignity Health<br />
            Herman Miller Healthcare<br />
            Holbrook Medical Center<br />
            Honor Health<br />
            Hospice of Arizona<br />
            Laser Spine Institute<br />
            Mayo Clinic<br />
            Mayo Hospital<br />
            Phoenix Children’s Hospital<br />
            St. Vincent’s Hospital<br />
            Summit Healthcare<br />
            St. Vincent’s Hospital<br />
            VI Silverstone<br />
        </div>
        <div class="small-3 columns">
          <h4>Restaurants</h4>
          <hr>
          Camelback Inn Resort<br />
          Eddie V’s<br />
          Kincaids Restaurant<br />
          North<br />
          Ocean Club<br />
          Olive & Ivy<br />
          Palomino Restaurant<br />
          Roaring Fork<br />
          Skates Restaurant<br />
          Stanfords Restaurant<br />
          Steak 44<br />
          The Henry<br />
          Wildfish<br />
          Z’Tejas<br />
        </div>
    </div>
  -->
</div>
