<div id="health-care-page">

    <div class="quote">
        <svg class="quote-open" viewBox="0 0 60 40.7">
            <path d="M23.6 0h-9L1 24.5c-.6 1.5-1 3.2-1 5 0 3.1 1.2 5.7 3.7 7.9s5.4 3.3 8.9 3.3c3.4 0 6.3-1.1 8.7-3.3s3.7-4.8 3.7-7.9c0-3.2-1.2-5.9-3.6-8.1-1.7-1.5-3.5-2.4-5.7-2.8L23.6 0zm35.1 0h-9L36.1 24.5c-.6 1.5-1 3.2-1 5 0 3.1 1.2 5.7 3.7 7.9s5.4 3.3 8.9 3.3c3.4 0 6.3-1.1 8.7-3.3 2.4-2.2 3.7-4.8 3.7-7.9 0-3.2-1.2-5.9-3.6-8.1-1.6-1.5-3.5-2.4-5.5-2.8L58.7 0z"/>
        </svg>
        <svg class="quote-close" viewBox="0 0 60 40.7">
          <path d="M36.4 40.7h9L59 16.1c.6-1.5 1-3.2 1-5 0-3.1-1.2-5.7-3.7-7.9S50.9 0 47.4 0c-3.4 0-6.3 1.1-8.7 3.3-2.4 2.2-3.7 4.8-3.7 7.9 0 3.2 1.2 5.9 3.6 8.1 1.7 1.5 3.5 2.4 5.7 2.8l-7.9 18.6zm-35.1 0h9L24 16.2c.6-1.5 1-3.2 1-5 0-3.1-1.2-5.7-3.7-7.9S15.8 0 12.4 0C9 0 6.1 1.1 3.7 3.3 1.3 5.5 0 8.1 0 11.2c0 3.2 1.2 5.9 3.6 8.1 1.6 1.5 3.5 2.4 5.5 2.8L1.3 40.7z"/>
        </svg>
        Art offers space, a certain breathing room for the spirit.
    </div>

    <div class="slide-show-container">
        <div class="slide-show">
            <img src="./img/slide-show/healthcare/01.png" />
            <img src="./img/slide-show/healthcare/02.png" />
            <img src="./img/slide-show/healthcare/03.png" />
            <img src="./img/slide-show/healthcare/04.png" />
            <img src="./img/slide-show/healthcare/05.png" />
            <img src="./img/slide-show/healthcare/06.png" />
            <img src="./img/slide-show/healthcare/07.png" />
            <img src="./img/slide-show/healthcare/08.png" />
            <img src="./img/slide-show/healthcare/09.png" />
            <img src="./img/slide-show/healthcare/10.png" />
            <img src="./img/slide-show/healthcare/11.png" />
            <img src="./img/slide-show/healthcare/12.png" />
            <img src="./img/slide-show/healthcare/13.png" />
            <img src="./img/slide-show/healthcare/14.png" />
            <img src="./img/slide-show/healthcare/15.png" />
            <img src="./img/slide-show/healthcare/16.png" />
            <img src="./img/slide-show/healthcare/17.png" />
            <img src="./img/slide-show/healthcare/18.png" />
            <img src="./img/slide-show/healthcare/19.png" />
            <img src="./img/slide-show/healthcare/20.png" />
            <img src="./img/slide-show/healthcare/21.png" />
            <img src="./img/slide-show/healthcare/22.png" />
            <img src="./img/slide-show/healthcare/23.png" />
            <img src="./img/slide-show/healthcare/24.png" />
            <img src="./img/slide-show/healthcare/25.png" />
            <img src="./img/slide-show/healthcare/26.png" />
            <img src="./img/slide-show/healthcare/27.png" />
            <img src="./img/slide-show/healthcare/28.png" />
            <img src="./img/slide-show/healthcare/29.png" />
            <img src="./img/slide-show/healthcare/30.png" />
            <img src="./img/slide-show/healthcare/31.png" />
            <img src="./img/slide-show/healthcare/32.png" />
            <img src="./img/slide-show/healthcare/33.png" />
            <img src="./img/slide-show/healthcare/34.png" />
            <img src="./img/slide-show/healthcare/35.png" />
            <img src="./img/slide-show/healthcare/36.png" />
            <img src="./img/slide-show/healthcare/37.png" />
            <img src="./img/slide-show/healthcare/38.png" />
            <img src="./img/slide-show/healthcare/39.png" />
            <img src="./img/slide-show/healthcare/40.png" />
            <img src="./img/slide-show/healthcare/41.png" />
            <img src="./img/slide-show/healthcare/42.png" />
            <img src="./img/slide-show/healthcare/43.png" />
            <img src="./img/slide-show/healthcare/44.png" />
            <img src="./img/slide-show/healthcare/45.png" />
            <img src="./img/slide-show/healthcare/46.png" />
        </div>
    </div>

    <div class="text">
        <p>
          <strong>artstudio 101</strong> understands the power of healing art. Healthcare design is delicate and requires awareness beyond the average project. The goal is to promote a thoughtful approach that can tell a story from piece to piece, define way-finding images for memory support, create distraction from pain, and give harmony to the beholder. Our consultants specialize in health care, creating a custom environment for each client to meet their specific artwork needs.
        </p>

        <div class="row">
            <div class="small-6 columns art-action">
                <h3>Art in Action!</h3>
                Watch the CBS News Sun Day Morning’s piece called “The Healing Arts”. It features an art collection at Cedars Sinai Medical Center in Los Angeles. The piece shows how the art collection has a direct impact on the patients and staff of the hospital.
            </div>
            <div class="small-6 columns sunday-morn">
                <a class="video-link" href="http://www.cbsnews.com/videos/the-healing-arts/">
                    <img src="./img/sunday-morning.png" width="300">
                    <div class="play-btn"></div>
                </a>
            </div>
        </div>

        <p>
            <h3>WSJ Article:</h3>
            <a href="http://www.wsj.com/articles/more-hospitals-use-the-healing-powers-of-public-art-1408404629?KEYWORDS=hospitals+art#">
                More hospitals use the healing powers of public art.
            </a>
        </p>
        <p>
            <h3>Evidence Based Design:</h3>
            <a href="https://www.healthdesign.org/edac">
                www.healthdesign.org/edac
            </a>
        </p>

        <p>
          <h3>Art Can Help Fight Diseases</h3>
          <a href="http://www.montenagler.com/importance-art-daily-life-series-article-6/">
            www.montenagler.com/importance-art-daily-life-series-article-6/
          </a>
        </p>

    </div>

    <script>
        $(document).ready(function(){
            $('.slide-show').slick({
                prevArrow: '<div class="prevArrow"></div>',
                nextArrow: '<div class="nextArrow"></div>'
            });
        });
    </script>


</div>
