<div id="home-page">
  <div class="btn-container">
    <a href="../new-artists.php" class="new-artists-btn">
      See New Works
    </a>
  </div>

  <div class="slide-show-one">
    <div class="img">
      <img src="./img/carousel/1.png" />
      C. Alan
    </div>
    <div class="img">
      <img src="./img/carousel/2.png" />
      R. Bennett
    </div>
    <div class="img">
      <img src="./img/carousel/3.png" />
      E. Kennefick
    </div>
    <div class="img">
        <img src="./img/carousel/4.png" />
        M. Stone
    </div>
    <div class="img">
        <img src="./img/carousel/5.png" />
        M. Quen
    </div>
    <div class="img">
        <img src="./img/carousel/6.png" />
        G. Benjamin
    </div>
    <div class="img">
        <img src="./img/carousel/7.png" />
        R. Charon
    </div>
    <div class="img">
        <img src="./img/carousel/8.png" />
        M. Phillips
    </div>
    <div class="img">
        <img src="./img/carousel/9.png" />
        J. Kelly
    </div>
    <div class="img">
        <img src="./img/carousel/10.png" />
        J. Kelly
    </div>
    <div class="img">
        <img src="./img/carousel/11.png" />
        Prescott
    </div>
    <div class="img">
        <img src="./img/carousel/12.png" />
        B. Boner
    </div>
    <div class="img">
        <img src="./img/carousel/13.png" />
        M. Johnston
    </div>
  </div>

</div>

<script>
    $(document).ready(function(){
        $('.slide-show-one').slick({
          slidesToShow: 1,
          slidesToScroll: 1,
          autoplay: true,
          autoplaySpeed: 2000,
          pauseOnHover: false
        });
    });
</script>
