<div id="installations-page">

    <div class="quote">
        <svg class="quote-open" viewBox="0 0 60 40.7">
            <path d="M23.6 0h-9L1 24.5c-.6 1.5-1 3.2-1 5 0 3.1 1.2 5.7 3.7 7.9s5.4 3.3 8.9 3.3c3.4 0 6.3-1.1 8.7-3.3s3.7-4.8 3.7-7.9c0-3.2-1.2-5.9-3.6-8.1-1.7-1.5-3.5-2.4-5.7-2.8L23.6 0zm35.1 0h-9L36.1 24.5c-.6 1.5-1 3.2-1 5 0 3.1 1.2 5.7 3.7 7.9s5.4 3.3 8.9 3.3c3.4 0 6.3-1.1 8.7-3.3 2.4-2.2 3.7-4.8 3.7-7.9 0-3.2-1.2-5.9-3.6-8.1-1.6-1.5-3.5-2.4-5.5-2.8L58.7 0z"/>
        </svg>
        <svg class="quote-close" viewBox="0 0 60 40.7">
          <path d="M36.4 40.7h9L59 16.1c.6-1.5 1-3.2 1-5 0-3.1-1.2-5.7-3.7-7.9S50.9 0 47.4 0c-3.4 0-6.3 1.1-8.7 3.3-2.4 2.2-3.7 4.8-3.7 7.9 0 3.2 1.2 5.9 3.6 8.1 1.7 1.5 3.5 2.4 5.7 2.8l-7.9 18.6zm-35.1 0h9L24 16.2c.6-1.5 1-3.2 1-5 0-3.1-1.2-5.7-3.7-7.9S15.8 0 12.4 0C9 0 6.1 1.1 3.7 3.3 1.3 5.5 0 8.1 0 11.2c0 3.2 1.2 5.9 3.6 8.1 1.6 1.5 3.5 2.4 5.5 2.8L1.3 40.7z"/>
        </svg>
        As an artstudio 101 client, you can expect a collaborative team of experienced professionals committed to achieving your specific goals.
    </div>

    <div class="slide-show-container">
        <div class="slide-show">
            <img class="slide-image" src="./img/slide-show/installs/01.png">
            <img class="slide-image" src="./img/slide-show/installs/02.png">
            <img class="slide-image" src="./img/slide-show/installs/03.png">
            <img class="slide-image" src="./img/slide-show/installs/04.png">
            <img class="slide-image" src="./img/slide-show/installs/05.png">
            <img class="slide-image" src="./img/slide-show/installs/06.png">
            <img class="slide-image" src="./img/slide-show/installs/07.png">
            <img class="slide-image" src="./img/slide-show/installs/08.png">
            <img class="slide-image" src="./img/slide-show/installs/09.png">
            <img class="slide-image" src="./img/slide-show/installs/10.png">
            <img class="slide-image" src="./img/slide-show/installs/11.png">
            <img class="slide-image" src="./img/slide-show/installs/12.png">
            <img class="slide-image" src="./img/slide-show/installs/13.png">
            <img class="slide-image" src="./img/slide-show/installs/14.png">
            <img class="slide-image" src="./img/slide-show/installs/15.png">
            <img class="slide-image" src="./img/slide-show/installs/16.png">
            <img class="slide-image" src="./img/slide-show/installs/17.png">
            <img class="slide-image" src="./img/slide-show/installs/18.png">
            <img class="slide-image" src="./img/slide-show/installs/19.png">
            <img class="slide-image" src="./img/slide-show/installs/20.png">
            <img class="slide-image" src="./img/slide-show/installs/21.png">
            <img class="slide-image" src="./img/slide-show/installs/22.png">
            <img class="slide-image" src="./img/slide-show/installs/23.png">
            <img class="slide-image" src="./img/slide-show/installs/24.png">
            <img class="slide-image" src="./img/slide-show/installs/25.png">
            <img class="slide-image" src="./img/slide-show/installs/26.png">
            <img class="slide-image" src="./img/slide-show/installs/27.png">
            <img class="slide-image" src="./img/slide-show/installs/28.png">
            <img class="slide-image" src="./img/slide-show/installs/29.png">
            <img class="slide-image" src="./img/slide-show/installs/30.png">
            <img class="slide-image" src="./img/slide-show/installs/31.png">
            <img class="slide-image" src="./img/slide-show/installs/32.png">
            <img class="slide-image" src="./img/slide-show/installs/33.png">
            <img class="slide-image" src="./img/slide-show/installs/34.png">
            <img class="slide-image" src="./img/slide-show/installs/35.png">
            <img class="slide-image" src="./img/slide-show/installs/36.png">
            <img class="slide-image" src="./img/slide-show/installs/37.png">
            <img class="slide-image" src="./img/slide-show/installs/38.png">
            <img class="slide-image" src="./img/slide-show/installs/39.png">
            <img class="slide-image" src="./img/slide-show/installs/40.png">
            <img class="slide-image" src="./img/slide-show/installs/41.png">
            <img class="slide-image" src="./img/slide-show/installs/42.png">
            <img class="slide-image" src="./img/slide-show/installs/43.png">
            <img class="slide-image" src="./img/slide-show/installs/44.png">
            <img class="slide-image" src="./img/slide-show/installs/45.png">
            <img class="slide-image" src="./img/slide-show/installs/46.png">
            <img class="slide-image" src="./img/slide-show/installs/47.png">
            <img class="slide-image" src="./img/slide-show/installs/48.png">
            <img class="slide-image" src="./img/slide-show/installs/49.png">
            <img class="slide-image" src="./img/slide-show/installs/50.png">
            <img class="slide-image" src="./img/slide-show/installs/51.png">
            <img class="slide-image" src="./img/slide-show/installs/52.png">
            <img class="slide-image" src="./img/slide-show/installs/53.png">
            <img class="slide-image" src="./img/slide-show/installs/54.png">
            <img class="slide-image" src="./img/slide-show/installs/55.png">
            <img class="slide-image" src="./img/slide-show/installs/56.png">
            <img class="slide-image" src="./img/slide-show/installs/57.png">
            <img class="slide-image" src="./img/slide-show/installs/58.png">
            <img class="slide-image" src="./img/slide-show/installs/59.png">
            <img class="slide-image" src="./img/slide-show/installs/60.png">
            <img class="slide-image" src="./img/slide-show/installs/61.png">
            <img class="slide-image" src="./img/slide-show/installs/62.png">
            <img class="slide-image" src="./img/slide-show/installs/63.png">
            <img class="slide-image" src="./img/slide-show/installs/64.png">
            <img class="slide-image" src="./img/slide-show/installs/65.png">
            <img class="slide-image" src="./img/slide-show/installs/66.png">
            <img class="slide-image" src="./img/slide-show/installs/67.png">
            <img class="slide-image" src="./img/slide-show/installs/68.png">
            <img class="slide-image" src="./img/slide-show/installs/69.png">
            <img class="slide-image" src="./img/slide-show/installs/70.png">
            <img class="slide-image" src="./img/slide-show/installs/71.png">
            <img class="slide-image" src="./img/slide-show/installs/72.png">
            <img class="slide-image" src="./img/slide-show/installs/73.png">
            <img class="slide-image" src="./img/slide-show/installs/74.png">
            <img class="slide-image" src="./img/slide-show/installs/75.png">
        </div>
    </div>

    <!-- <div class="text">
        <p>
          artstudio101 understands the power of healing art and our consultants specialize in healthcare, creating a custom environment for each client to meet their specific artwork needs. our goal is to promote a thoughtful approach that can tell a story from piece to piece, define way finding images for memory, create distraction from pain and give harmony to the beholder.
        </p>
    </div> -->

    <script>
        $(document).ready(function(){
            $('.slide-show').slick({
                prevArrow: '<div class="prevArrow"></div>',
                nextArrow: '<div class="nextArrow"></div>',
                adaptiveHeight: true
            });
        });
    </script>

</div>
