<div id="new-artists">
  <div class="thumbnail-container">
    <div class="thumbnail-set">
      <!-- <div class="thumbnail">1</div>
      <div class="thumbnail">2</div>
      <div class="thumbnail">3</div>
      <div class="thumbnail">4</div>
      <div class="thumbnail">5</div> -->
    </div>
  </div>
  <div class="image-container">
    <div class="image-holder">
      <div class="image-one"></div>
      <div class="image-two"></div>
    </div>
  </div>
  <script src="../js/gallery.js"></script>
  <!-- <div class="slide-show-one">
    <div class="img">
      <img src="./img/carousel/1.png" />
      C. Alan
    </div>
    <div class="img">
      <img src="./img/carousel/2.png" />
      R. Bennett
    </div>
    <div class="img">
      <img src="./img/carousel/3.png" />
      E. Kennefick
    </div>
    <div class="img">
        <img src="./img/carousel/4.png" />
        M. Stone
    </div>
    <div class="img">
        <img src="./img/carousel/5.png" />
        M. Quen
    </div>
    <div class="img">
        <img src="./img/carousel/6.png" />
        G. Benjamin
    </div>
    <div class="img">
        <img src="./img/carousel/7.png" />
        R. Charon
    </div>
    <div class="img">
        <img src="./img/carousel/8.png" />
        M. Phillips
    </div>
    <div class="img">
        <img src="./img/carousel/9.png" />
        J. Kelly
    </div>
    <div class="img">
        <img src="./img/carousel/10.png" />
        J. Kelly
    </div>
    <div class="img">
        <img src="./img/carousel/11.png" />
        Prescott
    </div>
    <div class="img">
        <img src="./img/carousel/12.png" />
        B. Boner
    </div>
    <div class="img">
        <img src="./img/carousel/13.png" />
        M. Johnston
    </div>
  </div>

</div>

<script>
    $(document).ready(function(){
        $('.slide-show-one').slick({
          slidesToShow: 1,
          slidesToScroll: 1,
          autoplay: true,
          autoplaySpeed: 2000,
          pauseOnHover: false
        });
    });
</script> -->
