<div id="residential-page">

    <div class="quote">
        We are confident that after visiting your home we can create a presentation that will fulfill your needs.
    </div>

    <div class="slide-show-container">
        <div class="slide-show">
            <img class="slide-image" src="./img/slide-show/residential/01.png">
            <img class="slide-image" src="./img/slide-show/residential/02.png">
            <img class="slide-image" src="./img/slide-show/residential/03.png">
            <img class="slide-image" src="./img/slide-show/residential/04.png">
            <img class="slide-image" src="./img/slide-show/residential/05.png">
            <img class="slide-image" src="./img/slide-show/residential/06.png">
            <img class="slide-image" src="./img/slide-show/residential/07.png">
            <img class="slide-image" src="./img/slide-show/residential/08.png">
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $('.slide-show').slick({
                prevArrow: '<div class="prevArrow"></div>',
                nextArrow: '<div class="nextArrow"></div>',
                adaptiveHeight: true
            });
        });
    </script>

</div>
