<div id="services-page">

    <div class="quote">
        We engage our clients to find artwork that achieves their environmental and aesthetic goals.
    </div>

    <div class="row">

        <div class="small-6 columns text">
            <p>
              <strong>artstudio 101</strong> is a full service art consulting firm that will help select and specify art for any <a href="health-care.php">healthcare</a>, <a href="corporate.php">corporate</a> or <a href="residential.php">residential</a> project. We have a dedicated team of consultants who collaborate on every step of a project, from initial conceptualization and budgeting to final installation.
            </p>
            <p>
              By operating as consultants, rather than a gallery, our team has access to an unparalleled network of galleries, collections, vendors, and both local and national artists who work in every conceivable medium and scale.
            </p>
            <p>
              To complement the art and further enhance our client’s environment, we provide our clients with the highest standards in affordable <a href="framing.php">custom framing</a>. Our consultants can construct a customized creative solution that will meet any budget, deadline or project parameters.
            </p>
            <p>
              As the project comes to fruition, we are able to facilitate artwork handling, installation or storage by leveraging our list of highly qualified and recommended licensed professionals.
            </p>
        </div>

        <div class="small-6 columns image">
            <img src="./img/services.png" alt="" />
        </div>

    </div>

</div>
