<div id="team-page">

    <div class="quote">
      We are an experienced team of collaborative design professionals who create a unique art program for every project.
    </div>

    <div class="text">
      <div>
        <img src="img/faye.png" width="80" align="left" />
        <strong>Faye Urlacher</strong> launched artstudio 101 in 2000. Faye has over 20 years of art consulting experience. A degree in Interior Design, as well as her creativity and true passion for art, give her a unique and inspired vision for space. Faye strives to understand the individual intricacies of every project, applying her creativity, energy and keen business sense to each client’s needs. Faye is well respected for her professionalism, sincerity, talent, and extraordinary work ethic. She takes great pride in the level of service provided by artstudio 101, and fosters her relationships with clients, designers, artists and vendors.
      </div>
      <div>
        <img src="img/jessica.png" width="80" align="left" />
        <strong>Jessica Berghoff</strong> joined artstudio 101 in 2002. As a dedicated member of the team, Jessica has earned a reputation for her creative and personalized consulting skills combined with excellent customer service. She has successfully overseen a variety of projects ranging from large healthcare facilities, hotels and restaurants to private residences and corporate offices.
      </div>
      <div>
        <img src="img/madeline.png" width="80" align="left" />
        <strong>Madeline Gordon</strong> joined artstudio 101 in early 2017, making her the newest addition to our team. She holds a degree in art history from the University of Georgia, and has a customer service background in the arts and fine retail. Madeline is excited to be back in the valley and building her rapport with our amazing clientele and local artist community.
      </div>
      <div>
        <img src="img/emily.png" width="80" align="left" />
        <strong>Emily Rademeyer</strong> has been an integral part of artstudio 101 since 2005. She is a constant in the studio and keeps all projects running smoothly from inception to installation. Emily's expertise in framing plays a large role in quality assurance. She settles for nothing less than the highest quality of framing on both contract and custom orders.
      </div>
      <div>
        <img src="img/jenn.png" width="80" align="left" />
        <strong>Jennifer Conroy</strong> has been an integral part of artstudio 101 since 2001.  She brings an abundance of experience, knowledge and ingenuity to the team.  Jenn’s aptitude for creative design and business acumen, blend together to offer artstudio 101 client’s with top notch customer service. 
      </div>
      <div>
        <img src="img/eva.png" width="80" align="left" />
        <strong>Tracy Mitchell</strong> works as a consultant for artstudio 101 to assist in building and managing client relations for our East Coast clientele. Based in Westport, CT, Tracy has an extensive background in customer service and all levels of project management. This is combined with her passion for art and a long-time relationship with artstudio 101. 
      </div>
    </div>

</div>
