#installations-page {

  .quote {
    width: 640px;
  }

  .text {
      width: 85%;
      margin:0 auto;
  }

  .image {
    //padding: 90px;
  }

  .slide-show-container {
    width: 700px;
    margin: 0 auto 100px;
    //-webkit-box-shadow: 0 0 45px 15px rgba(0,0,0,.30);
    //box-shadow: 0 0 60px 15px rgba(0,0,0,.30);
  }

  .prevArrow {
    position: absolute;
    top: 50%;
    margin-top: -43px;
    left: -43px;
    width: 87px;
    height: 87px;
    background: url(../img/previous-btn-small.png) no-repeat;
  }

  .nextArrow {
    position: absolute;
    top: 50%;
    margin-top: -43px;
    right: -43px;
    width: 87px;
    height: 87px;
    background: url(../img/next-btn-small.png) no-repeat;
  }

}
