#new-artists {
  .thumbnail-container {
    position: relative;
    display: flex;
    margin: 0 0 30px;
    justify-content: center;
    // border: 1px solid red;
    .thumbnail-set {
      width: 600px;
      display: flex;
      // border: 1px solid green;
    }
    .thumbnail {
      flex: none;
      height: 112px;
      width: 112px;
      margin: 0 10px 0 0;
      // border: 1px solid blue;
      box-sizing: border-box;
      overflow: hidden;
      &:last-child {
        margin: 0;
      }
      .thumb_title {
        display: none;
      }
      .thumb_image {
        // width: 240px;
        max-width: 240px;
      }
    }
    .previous-thumb-set {
      position: absolute;
      top: 13px;
      left: 13px;
      height: 87px;
      width: 87px;
      background: url(../img/previous-btn-small.png);
      // border: 1px solid red;
    }
    .next-thumb-set {
      position: absolute;
      top: 13px;
      right: 13px;
      height: 87px;
      width: 87px;
      background: url(../img/next-btn-small.png);      
      // border: 1px solid red;
    }
  }
  .image-container {
    display: flex;
    justify-content: center;
    // border: 1px solid red;
    box-sizing: border-box;
    .image-holder {
      position: relative;
      // display: flex;
      // justify-content: center;
      width: 600px;
      height: 805px; // TODO: make height dynamic
      // border: 1px solid green;
      box-sizing: border-box;
      overflow: hidden;
      .thumb_title {
        height: 24px;
      }
      .image-one {
        position: absolute;
        top: 0;
        left: 0;
        width: 600px;
        // height: 400px;
        // border: 1px solid blue;
        box-sizing: border-box;
      }
      .image-two {
        position: absolute;
        top: 0;
        left: 600px;       
        width: 600px;        
        // height: 400px;     
        // border: 1px solid blue;
        box-sizing: border-box;
      }
    }
  }
}