#residential-page {

  .quote {
    width: 540px;
  }

  .text {
      width: 85%;
      margin:0 auto;
  }

  .slide-show-container {
    width: 700px;
    margin: 0 auto 100px;
  }

  .prevArrow {
    position: absolute;
    top: 50%;
    margin-top: -43px;
    left: -43px;
    width: 87px;
    height: 87px;
    background: url(../img/previous-btn-small.png) no-repeat;
  }

  .nextArrow {
    position: absolute;
    top: 50%;
    margin-top: -43px;
    right: -43px;
    width: 87px;
    height: 87px;
    background: url(../img/next-btn-small.png) no-repeat;
  }

}
